                                            /* Shared Styles */
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

                                           /* nav ber Start */


nav {

    
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    


}

.G-letter {
    color: #FF42A5;
}


.nav {
    width: 1440px;
    margin: auto;
    display: flex;
    padding: 38px;
    justify-content: space-between;
    align-items: center;

}

.nav-items {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    width: 50%;
    justify-content: center;
}

.logo h1 {
    font-size: 45px;
    font-weight: 700;
    /
}

.follow-icons {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 40px;
    color: #3C354F;
    display: flex;
    align-items: center;
    gap: 16px;
}

.first-icon-youtube {
    color: red;
    font-size: 40px;
}

.fa-tiktok {
    color: black;
    font-size: 35px;
}

.logo {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    margin-bottom: 30px;
}

.logo {
    width: 86.041px;


}

.logo img {
    margin-right: 20px;
    width: 100px;
}

.G-letter {
    color: #FF42A5;

}

                                       /* nav ber end */


                             /* Heder Sections Style */
.header {
    display: flex;
    width: 1440px;
    justify-content: center;
    margin: 10px auto;
    align-items: center;

}

.header-content {
    width: 50%;
}

.header-pic {
    width: 50%;


}

.header-pic img {
    width: 100%;


}

.title {
    color: #0B0223;

    font-family: Work Sans;
    font-size: 48px;

    font-weight: 600;


}

.goat {

    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    margin-bottom: 24px;
    background: linear-gradient(#F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;

}

ul li {
    color: #534C64;

    font-family: Work Sans;
    font-size: 20px;

    font-weight: 500;

    list-style: none;
    margin-bottom: 12px;
}

.btn-1 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    border: 0px;
    font-weight: 600;
    background-color: #FF42A5;
    border-radius: 48px;
    padding: 21px 40px;
    margin-right: 24px;
    margin-top: 40px;


}
:hover.btn-1 {
    color: #FF42A5;
    background-color: #FFF;
    border: 2px solid #FF42A5;
    padding: 19px 38px;
   


}

.btn-2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    border: 0px;
    font-weight: 600;
    background-color: #4EC5F7;
    border-radius: 48px;
    padding: 21px 40px;

}
:hover.btn-2 {
    color: #4EC5F7;
    background-color: #FFF;
    border: 2px solid #4EC5F7;
    padding: 19px 38px;
   


}

                                     /* online Section */

.online-gamer {
    width: 1400px;
    margin: auto;
    overflow: hidden;
}

.online-gamer-text {
    text-align: center;
}

.online-title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    margin-top: 80px;


}

.funny {
    background: linear-gradient(#F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;

}

.online-description {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;

}

.online-pics {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;


}
.pics > img{
    flex-grow: 1;
    gap:24px;
}

.pics {
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 24px;
    
}
.hover-contents{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition:opacity 0.4s ease-in-out;
    cursor: pointer;
    background: #0B0223;
    width: 100%;
    border-radius: 5px;
    

}
.hover-items{
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);    
    text-align: center;
    font-family: 'Work Sans', sans-serif;
   
    font-size: 20px;
    
    font-weight: 600;
    

}
.fa-solid{
    color: #FFF;
    font-size: 50px;
    padding-bottom: 10px;
}
.hover-title{
    color:#F948B2;
}
.pics:hover .hover-contents{
    opacity: 0.8;

}

.pic1 {
    width: 100%;
    height: 100%;
   
    align-items: center;
    


}

.pic-description {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 50px;
}

                                                /* Play Instranly Section Styles */
.PlayInstranly{

    width: 1440px;
    height: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 100px;}
    
    .PlayInstranly-content{
        width: 50%;
        padding-right: 250px;
    
    }
.PlayInstranly-title{
    text-align: right;
   font-family: Work Sans;
    font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: 60px;
   
}
.PlayInstranly-description{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}

.PlayInstranly-pic{
    position: relative;
    width: 50%;

}
.sub-pic{
    position:absolute;
    top:350px;
    left:-170px;
}
                                      /* grid Section Styles */
  .grids{
 width: 1440px;
 margin: 100px auto;

 
 
 
                                        
  }
.all-games{
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap:24px;
                       
    }                               
   .game-name{
   display: flex;
   align-items: center;
   gap:15px;
   background-color:rgba(3, 133, 255, 0.171);
   border-radius: 20px;
   padding: 5px;
   flex-shrink: 1;

   
  }     
   .game-name:hover{   
   background-color:white;
   color: #FF42A5;
   border: 2px solid #FF42A5 ;
   padding: 3px;
   

   
  }     
                            /* footer Section's Styles */
 footer{
    background:#0B0223;
    padding-top:100px;
 }                           
.footer-content{
    width: 1400px;
    margin: auto;
    
    
}    
.logo-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    color: white;
    text-align: center;
font-family: Work Sans;
font-size: 30px;

font-weight: 700;

}
.footer-title{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
    color:white;
    justify-content: center;
    gap:50px;
    padding: 65px 200px;
}
.footer-icons{
    color:#FFF;
    display: grid;
    grid-template-columns: repeat(6, 1fr);    
    color:white;
    justify-content: center;
    gap:10px;
    padding: 10px 500px;
    font-size: 40px;
}
.footer-description{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-weight: 500;
    padding: 50px  300px 50px 300px ;


        
}
.copyright{
    text-align: center;
    font-family: Work Sans;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
    padding-bottom: 100px;
}
  
                                                     /* Media Queries */
@media screen and (max-width: 574px) {
    /* nav Media Queries */


    .nav {
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin: 0px;
        padding-top: 50px;
    }

    .nav-items {
        padding: 0px 0px 30px 0px;
        flex-direction: column;
    }
    
                            

                                           /* header Media Qeuries */
    .header {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
    }

    .header-pic {
        width: 70%;
        align-items: center;

    }

    .online-title {
        font-size: 30px;
    }

    .online-description {
        font-size: 12px;
    }

    .header-content {
        width: 80%;
        text-align: center;
        margin-top: 50px;

    }

    .online-pics {
        flex-direction: column;
        


    }
    .pic-description{
        font-size: 18px;

    }

    .online-gamer {
        width: 100%;
    }
    .pics{
        width: 80%;
        align-items: center;
        margin: auto;
        
        text-align: center;
    }
    .online-container{
        width: 100%;
        text-align: center;
    }
    .PlayInstranly{

        flex-direction: column;
        
    }
    
    .PlayInstranly{
        flex-direction: column;
        width: 100%;
        height: 700px;
        display: flex;
        margin-bottom: 300px;}
        
        .PlayInstranly-content{
            width: 100%;           
            padding-right:10px ;            
            align-content: center;
            
            
        
        }
    .PlayInstranly-pic{

        width: 80%;
        text-align: center;
        
    }
    .main-pic{
        width: 80%;
        height: 450px;
        padding-left:100px ;
    }
    .sub-pic{
        top:270px;
        left:-10px;
        width: 200px;
    }
    .PlayInstranly-title{
        text-align: center;
        padding-bottom: 50px;
       
       
    }
    .PlayInstranly-description{
        
    text-align: center;
    margin-bottom:50px ;
    
    }
    .grids{
        width: 90%;
        
        justify-items: center;
        align-items: center;
        margin: 50px ;
    }

    .all-games{
        width: 100% ;
        display: grid;
        grid-template-columns: repeat( 2, 1fr);
        grid-template-rows: repeat(5,1fr);
        gap:10px;
        
        
                           
        }

        .footer-content{
            width: 100%;
            margin: auto;
            
            
        }    
        .logo-item{
           
        
        }
        
        
        .footer-title{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);            
            color:white;
            justify-content: center;
            gap:50px;
            padding: 40px 50px;
            row-gap: 40px;
        }
        .footer-icons{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);            
            color:white;
            text-align: center;
            column-gap: 60px;
            row-gap: 40px;
            padding: 40px 120px;
                
        }
        .footer-description{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            padding: 50px  50px 50px 50px ; 
            row-gap: 40px;
            text-align: center;
        }
        .copyright{
            font-size: 14px;
        }

}
                                        /* Media Queries for table */
                 @media screen and (min-width: 575px) and (max-width: 991px) {
                            /* nav Media Queries */


    .nav {
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin: 0px;
        padding-top: 50px;
    }

    .nav-items {
        padding: 0px 0px 30px 0px;
        flex-direction: column;
    }
    
                            

                                           /* header Media Qeuries */
    .header {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
    }

    .header-pic {
        width: 70%;
        align-items: center;

    }

    .online-title {
        font-size: 30px;
    }

    .online-description {
        font-size: 12px;
    }

    .header-content {
        width: 80%;
        text-align: center;
        margin-top: 50px;

    }

    .online-pics {
        flex-direction: column;
        


    }
    .pic-description{
        font-size: 24px;

    }

    .online-gamer {
        width: 100%;
    }
    .pics{
        width: 80%;
        align-items: center;
        margin: auto;
        
        text-align: center;
    }
    .online-container{
        width: 100%;
        text-align: center;
    }
    .PlayInstranly{

        flex-direction: column;
        
    }
    
    .PlayInstranly{
        flex-direction: column;
        width: 100%;
        height: 700px;
        display: flex;
        margin-bottom: 300px;}
        
        .PlayInstranly-content{
            width: 100%;           
            padding-right:10px ;            
            align-content: center;
            
            
        
        }
    .PlayInstranly-pic{

        width: 80%;
        text-align: center;
        
    }
    .main-pic{
        width: 80%;
        height: 450px;
        padding-left:100px ;
    }
    .sub-pic{
        top:270px;
        left:-10px;
        width: 200px;
    }
    .PlayInstranly-title{
        text-align: center;
        padding-bottom: 50px;
       
       
    }
    .PlayInstranly-description{
        
    text-align: center;
    margin-bottom:50px ;
    
    }
    .grids{
        width: 90%;
        
        justify-items: center;
        align-items: center;
        margin: 50px ;
    }

    .all-games{
        width: 100% ;
        display: grid;
        grid-template-columns: repeat( 2, 1fr);
        grid-template-rows: repeat(5,1fr);
        gap:10px;
        
        
                           
        }

        .footer-content{
            width: 100%;
            margin: auto;
            
            
        }    
        .logo-item{
           
        
        }
        
        
        .footer-title{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);            
            color:white;
            justify-content: center;
            gap:50px;
            row-gap: 40px;
        }
        .footer-icons{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);            
            color:white;
            text-align: center;
            row-gap: 40px;
            padding: 40px 260px;
            margin: auto;
                
        }
        .footer-description{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 40px;
            text-align: center;
        }
        .copyright{
            font-size: 14px;
        }

}
